body {
  font-size: 16px;
  color: #444545;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

/** HEADER **/
header {
	margin: 10px;
}

a {
	text-decoration: none;
	color: #444545;
}

ul {
	list-style: none;
}

.menu-element {
	display: inline;
	margin: 10px;
}

/* END HEADER */

/* END MAIN CONTENT */
.sekcja {
	margin-left: 30px;
	margin-right: 30px;
}

.naglowek-sekcji {
	font-size: 36px;
  color: #3283e2;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px
}

.srodek-sekcji {
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

#o-fundacji, #kontakt {
	background-color: #F2F3F4;
}


/* images */
.round {
    border-radius: 50%;
}
/* end images */

/* END MAIN CONTENT */

/** FOOTER **/
/* END FOOTER */